body {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    background-color: #323232; 
}

.main {
    width: 500px; 
    height: 300px; 
    background-color: rgb(24, 99, 197, 0.5); 
    border-radius: 20px; 
    display: flex;
    justify-content: center; 
    align-items: center;
    box-shadow: 0 4px 10px rgba(24, 99, 197, 1.0); 
    flex-direction: column; 
}

.aaa {
    text-align: center; 
    padding: 20px; 
    font-family: GB;
}

@font-face {
    font-family: GB;
    src: url(GOTHICB.TTF);
}

.container {
    display: flex; 
    width: 100%; 
    justify-content: space-between; 
    padding: 10px; 
}

.from, .to, .outputText {
    font-family: GB;
}

h3 {
    text-align: left;
    text-anchor: initial;
}

.from {
    position: absolute;
    top: 52.5%;
    right: 52%;
}

.to {
    position: absolute;
    top: 57%;
    right: 52%;
}


.outputText {
    position: absolute;
    top:60%;
    right: 50%;
}

/* im not that good in css */
